html {
    scroll-behavior: smooth;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    position: static;
    width: auto;
    height: auto;
}


body{
	font-family: 'Anonymous Pro', monospace;
	display:grid;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	grid-row-gap: 30px;
}

.attribute{
	padding-top: 250px;
	font-size: 10px;
	text-align: center;
}

p{
	font-family: verdana;
	line-height: 1.5;
}

/*-----------navigation-----------*/

.navigation-class{
	grid-row: 1/span 1;
	font-family: 'Anonymous Pro', monospace;
}

#home_page .logoBarMobile{
	display: none;
}

.mobile-nav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

.mobile-nav #mobileLinks {
  display: none;
}

.mobile-nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.mobile-nav a.icon {
  background: #0D005F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#mobileLinks a:hover {
  background-color: white;
  color: black;
}

.logoBarMobile {
  background-color: #0D005F;
  color: white;
}

#eco-data-nav{
	text-align: left;
}

a.logoBarDesktop:hover{
	color: white;
}

.logoBarDesktop, .page-links{
	font-size: 18px;
}
.desktop-nav-home{
	display: none;
}

.desktop-nav{
	display: none;
}

a.nav_hov:hover {
	color: white;
}


/*-----------page titles-----------*/
.page-title{
	font-size: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
}

/*-----------page headers-----------*/
.page-header{
	font-size: 20px;
	padding-left:30px;
}
/*----------------------contact----------------------*/

#contact-page form{
	padding-left: 20px;
}

.contact-para{
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}


/*----------------------contact----------------------*/
#contact-page form{
	padding-left: 20px;
}

.contact-para{
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 10px; /* Some padding */ 
	border: 3px solid #191970;
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #191970;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    opacity: 0.5;
}
  
  /* Add a background color and some padding around the form */
.form {
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    padding-right: 500px;
    padding-left: 10px;
}

label{
    font-family: 'Anonymous Pro', monospace;
    font-size: 1em;
}

#submit{
    font-family: 'Anonymous Pro', monospace;
    font-size: 1em;
}

/*-----------footer-----------*/

.foot{
	grid-row: 8/span 1;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0D005F;
	padding:5px;
	/*padding-right: 5px;*/

  	text-align: center;

}

.foot img{
	padding:2.5px;
	/*padding-right: 5px;*/
	align-self: right;
  	justify-self: right;
  	text-align: right;
}

/* mobile layout style */
.contact-icon-class{
    grid-column: 3/ span 1;
    grid-row: 5/ span 1;
}
#contact-page .desktop-nav{
    display: block;
}
