html {
    scroll-behavior: smooth;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    position: static;
    width: auto;
    height: auto;
}


body{
	font-family: 'Anonymous Pro', monospace;
	display:grid;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	grid-row-gap: 30px;
}

.attribute{
	padding-top: 250px;
	font-size: 10px;
	text-align: center;
}

p{
	font-family: verdana;
	line-height: 1.5;
}

/*-----------navigation-----------*/

.navigation-class{
	grid-row: 1/span 1;
}

#home_page .logoBarMobile{
	display: none;
}

.mobile-nav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

.mobile-nav #mobileLinks {
  display: none;
}

.mobile-nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.mobile-nav a.icon {
  background: #0D005F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#mobileLinks a:hover {
  background-color: white;
  color: black;
}

.logoBarMobile {
  background-color: #0D005F;
  color: white;
}

#eco-data-nav{
	text-align: left;
}

.desktop-nav-home{
	display: none;
}

.desktop-nav{
	display: none;
}

/*-----------page titles-----------*/
.page-title{
	font-size: 30px;
	padding-left:30px;
	padding-bottom: 50px;
}

/*-----------page headers-----------*/
.page-header{
	font-size: 20px;
	padding-left:30px;
}

/*-----------------------home page-----------------------*/


/*-----------home title-----------*/

.home-title{
	grid-row: 2/span 1;
	text-align: center;
	font-size: 35px;
	padding: 30px;
}


/*-----------home image-----------*/

.home-image{
	grid-row: 3/span 1;
 	background-image: url("../images/home-image2.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image img{
	max-width: 100%;
}


/*-----------home overview paragraph-----------*/
#home-page .overview{
	grid-row: 6/span 1;
	padding: 5px;
	padding-bottom: 60px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 60px;
	line-height: 1.5;
	font-size: 18px;
}

/*-----------home link icons*-----------*/

.link-icons{
	align-self: center;
  	justify-self: center;
  	text-align: center;
  	font-size: 25px;
}

.link-icons a{
	text-decoration: none;
	color:black;
}

.link-icons a:hover{
	text-decoration: underline;
}

.about-icon-class{
	grid-row: 5/span 1;
}

.projects-icon-class{
	grid-row: 6/span 1;
	padding: 30px;
}

.contact-icon-class{
	grid-row: 7/span 1;
	padding: 30px;
}

/*----------------------about page----------------------*/
#about-page p{
	padding-right: 30px;
	padding-left: 30px;
	line-height: 1.5;
	font-size: 16px;	
}

#about-page ul{
		list-style: none;
	}



/*----------------------team page----------------------*/
.board-bios{
	text-align: center;
}

.board-bios #pic{
	padding-top: 25px;
}

.member-bios{
	text-align: center;
}

.member-bios #pic{
	padding-top: 25px;
}

.bios_desktop{
  display: none;
}

.page-header{
	text-align: left;
}

#team-page ul{
	list-style-type: none;
}

#name{
	font-size: 18px;
	padding-top: 5px;
}

#title{
	font-style: italic;
	padding-bottom: 15px;
	padding-top: 5px;
	padding-right: 30px;
	padding-left: 30px;
}


#info{
	text-align: left;
	font-family: verdana;
	font-size: 12px;
	line-height: 1.2;
	padding-left: 35px;
	padding-right: 10px;
}

.member-bios #name{
	padding-bottom: 15px;
}

.advisor-bios{
	text-align: center;
}

.advisor-bios #pic{
	padding-top: 25px;
}

.member{
	padding-bottom: 20px;
}



/*----------------------project page----------------------*/
.team-projects{
	align-self: center;
  	justify-self: center;
  	/*text-align: center;*/
}

.independent-projects{
	align-self: center;
  	justify-self: center;
  	/*text-align: center;*/
}

.project-title{
	font-size: 25px;
	align-self: left;
  	justify-self: left;
}

#project-page .page-header{
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.project-image{
	min-width: 100%;
	text-align:left;
}

.project-image img{
    display: block;
    width: 100%;
    height: auto;
}

.project-link{
	font-size: 25px;
	color: black;
	background-color: white;
}

.project-item{
	padding: 5%;
}

.gif{
	align-self: center;
  	justify-self: center;
  	width: auto;
  	height: auto;
}

/*.project-description{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.5;
	text-align: left;
}*/

/*----------------------individual-project-pages----------------------*/

.contributors{
	font-size:12px;
	font-style: italic;
	padding-left: 50px;
	padding-right: 50px;
}

.project-description{
	padding-left: 50px;
	padding-right: 50px;
}

.sources{
	padding-left: 50px;
	padding-right: 50px;
}

.button{
	width: 200px;
	background-color:black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	align-self: center;
  	justify-self: center;
}

.button:hover {
	background: #0D005F;
}

#individual-project-pages .page-header{
	padding-left: 5%;
	font-size: 25px;
}

.gif{
	width: 100%;
}

.independent-project-visualizations{
	text-align: center;
	align-self: center;
  	justify-self: center;
  	padding-top: 5px;
	padding-bottom: 5px;
}

#individual-project-pages .name-credit{
	font-size: 20px;
	font-family: verdana;
	font-weight: normal;
	font-style: italic;
	padding-top: 10px;

}

#individual-project-pages p{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}


/*----------------------rescources-page----------------------*/

#resources-page ul{
	padding-right: 70px;
	padding-left: 70px;
	font-family: verdana;
	line-height: 1.2;
}

#resources-page .page-header{
	padding-top: 25px;
	padding-bottom: 5px;
}

#resources-page li a{
	color: #0D005F;
}

/*----------------------contact----------------------*/
#contact-page form{
	padding-left: 20px;
}

.contact-para{
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}




/*-----------footer-----------*/

.foot{
	grid-row: 8/span 1;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0D005F;
	padding:5px;
	/*padding-right: 5px;*/

  	text-align: center;

}

.foot img{
	padding:2.5px;
	/*padding-right: 5px;*/
	align-self: right;
  	justify-self: right;
  	text-align: right;
}


@media screen and (min-width: 800px){
	
	.mobile-nav{
		display:none;
	}

	#home-page .desktop-nav-home{
		display: block;
		text-align: right;
		padding:20px;
	}

	#home-page .desktop-nav-home a{
		color: black;
		text-decoration: none;
		font-size: 18px;
		padding:5px;	
	}

	#home-page .desktop-nav-home a:hover{
		color: #0D005F;
		text-decoration: underline;
	}

	.link-icons{
		display: grid;
		grid-template-columns: auto auto auto;
	}

	.about-icon-class{
		grid-column: 1/ span 1;
		grid-row: 5/ span 1;
	}
	.projects-icon-class{
		grid-column: 2/ span 1;
		grid-row: 5/ span 1;
	}
	.contact-icon-class{
		grid-column: 3/ span 1;
		grid-row: 5/ span 1;
	}

	#about-page .desktop-nav{
		display: block;
	}

	#project-page .desktop-nav{
		display: block;
	}

	#resources-page .desktop-nav{
		display: block;
	}

	#individual-project-pages .desktop-nav{
		display: block;
	}

	#team-page .desktop-nav{
		display: block;
	}

	#project-page .project-image:hover {
  		filter: brightness(55%);
  		-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	}


	#contact-page .desktop-nav{
		display: block;
	}

	.desktop-nav {
		background-color: #0D005F;
		/*text-align: right;*/
		padding:20px;
	}

	.desktop-nav a{
		color: white;
		text-decoration: none;
	}


	.page-links a:hover{
		text-decoration: underline;	
	}


	#active{
		text-decoration: underline;
	}


	#desktopLinks{
		display: grid;
		grid-template-columns: auto auto;
	}

	.page-links{
		text-align: right;
		grid-column: 2/ span 1: 
		grid-row: 1/ span 1;
	}

	#eco-data-nav{
		text-align: left;
		grid-column: 1/ span 1: 
		grid-row: 1/ span 1;
	}


	.about-icon-class{
		padding: 30px;
	}

	.bios_desktop{
		display: grid;
  		grid-column: 1/span 3;
  		grid-row: 5/span 1;
	}

	#about-page ul{
		list-style: none;
	}

	#about-page .bios-mobile{
		display: none;
	}

	#about-page .row {
		display: flex;
	}

	#about-page .bios_desktop .column{
		flex: 33.33%;
  		padding: 50px;
	}

	#team-page ul{
		list-style: none;
	}

	#team-page .bios-mobile{
		display: none;
	}

	#team-page .row {
		display: flex;
	}

	#team-page .bios_desktop .column{
		flex: 33.33%;
  		padding: 50px;
  	}

  	#team-page #info{
  		padding-right: 50px;
  		padding-left: 50px;
  	}

  	#resources-page ul{
		list-style: none;
	}

	#resources-page .bios-mobile{
		display: none;
	}

	#resources-page .row {
		display: flex;
	}

	#resources-page .bios_desktop .column{
		flex: 33.33%;
  		padding: 50px;
  	}

  	#resources-page #info{
  		padding-right: 50px;
  		padding-left: 50px;
  	}

	/*-----------project formating-----------*/

	.team-projects{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto, auto;
	}

	#project-item-1{
		grid-column: 1/span 1;
		grid-row: 1/span 1;
	}

	#project-item-2{
		grid-column: 2/ span 1;
		grid-row: 1/span 1;
	}

	#team-project-item-3{
		grid-column: 1/ span 1;
		grid-row: 2/span 1;
	}

	#team-project-item-4{
		grid-column: 2/ span 1;
		grid-row: 2/span 1;
	}

	.independent-projects{
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: auto, auto;
	}


	.project-image img{
		display: inline-block;
    	width: 100%;
    	height: auto;
	}


@media screen and (min-width: 1280px){
	.gif{
		width: auto;
	}
}
